*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.App {
	display: grid;
	width: 1200px;
	margin: 0 auto;
	justify-content: center;
	grid-template-columns: 0.25fr 1fr;
	grid-template-rows: 0.5fr 2.5fr 5fr;
	gap: 10px;
	
}

.wrapp {
	grid-row: 2/4;
	grid-column: 2;
}


